<div class="wrapper">
    <div class="rotate-landscape">
        <div class="icon"></div>
    </div>
    <div class="rotate-portrait">
        <div class="icon"></div>
    </div>
    <img class="music" src="assets/images/m_off.png" alt="">
    <img class="musicKai" src="assets/images/m_on.png" alt="">
</div>