<div class="wrapper">
    <div class="guide2_page page">
        <!-- 背景 -->
        <img class="bg" src="assets/images/pages/bg-light.png" />
        <!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- 建筑 -->
        <img class="scenery" src="assets/images/guide2/scenery.png" />
        <!-- 云朵 -->
        <img class="cloud cloud1" src="assets/images/pages/cloud.png" />
        <img class="cloud cloud2" src="assets/images/pages/cloud.png" />
        <!-- 图标 -->
        <img class="title1" src="assets/images/guide2/title1.png" />
        <img class="title2" src="assets/images/guide2/title2.png" />
        <img class="title3" src="assets/images/guide2/title3.png" />
        <img class="title4" src="assets/images/guide2/title4.png" />
        <!-- 标题 -->
        <img class="title" src="assets/images/guide2/title.png" />
        <!-- 分享 -->
        <img class="btn-share" src="assets/images/pages/btn-share.png" />
        <!-- 分享弹窗 -->
        <div class="modal">
            <img class="modal-content" src="assets/images/pages/modal-content.png" />
            <img class="btn-again" src="assets/images/pages/btn-again.png" />
        </div>
    </div>
</div>