<div class="wrapper">
    <div class="home_page page">
        <!-- 背景 -->
        <img class="bg" src="assets/images/home/bg.png" />
    	<!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- 太阳 -->
        <img class="sun" src="assets/images/home/sun.png" />
        <!-- 建筑 -->
        <div class="scenery">
            <!-- 城市 -->
            <img class="city" src="assets/images/home/city.png" />
            <!-- 摩天轮 -->
            <img class="wheel" src="assets/images/home/wheel.png" />
            <!-- 建筑 -->
            <img class="building" src="assets/images/home/building.png" />
        </div>
        <!-- 云朵 -->
        <img class="cloud1" src="assets/images/home/cloud1.png" />
        <img class="cloud2" src="assets/images/home/cloud2.png" />
        <img class="cloud3" src="assets/images/home/cloud3.png" />
        <img class="cloud4" src="assets/images/home/cloud4.png" />
        <!-- 标题 -->
        <img class="title title1" src="assets/images/home/title1.png" />
        <img class="title title2" src="assets/images/home/title2.png" />
        <!-- 花瓣 -->
        <img class="petal" src="assets/images/home/petal.png" />
        <!-- 开始按钮 -->
        <img class="btn-start" src="assets/images/home/btn-start.png" />
    </div>
</div>