<div class="wrapper">
    <div class="page4_page page">
        <!-- 背景 -->
        <img class="bg" src="assets/images/pages/bg.png" />
        <!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- tv -->
        <img class="tv" src="assets/images/pages/tv2.png"/>
        <!-- 题目 -->
        <img class="question" src="assets/images/pages/q4.png"/>
        <!-- 点 -->
        <img class="dot dot1" src="assets/images/pages/dot1.png"/>
        <img class="dot dot2" src="assets/images/pages/dot2.png"/>
        <img class="dot dot3" src="assets/images/pages/dot3.png"/>
        <!-- 选项 -->
        <img class="btn-yes" src="assets/images/pages/btn-yes.png"/>
        <img class="btn-no" src="assets/images/pages/btn-no.png"/>
    </div>
</div>