<div class="wrapper">
    <div class="result5_page page">
        <!-- 背景 -->
        <img class="bg" src="assets/images/result5/bg.png" />
        <!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- icons -->
        <img class="icon1" src="assets/images/result5/icon1.png" />
        <img class="icon2" src="assets/images/result5/icon2.png" />
        <img class="icon3" src="assets/images/result5/icon3.png" />
        <img class="icon4" src="assets/images/result5/icon4.png" />
        <img class="title1" src="assets/images/result5/title1.png" />
        <img class="title2" src="assets/images/result5/title2.png" />
        <img class="title3" src="assets/images/result5/title3.png" />
        <img class="title4" src="assets/images/result5/title4.png" />
        <!-- 长按保存 -->
        <img class="save" src="assets/images/result5/save.png" />
        <!-- 攻略 -->
        <img class="btn-guide" src="assets/images/result5/btn-guide.png" />
    </div>
</div>