@import "../base/page";

.page-guide3 {
    .base-page;

    background-color: #feccd3;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .guide3_page {
        .bg, .logo {
            width: 100%;
            top: 0;
            left: 0;
        }
        .scenery {
            width: 100%;
            top: 13.6%;
            left: 0;
        }
        .title {
            width: 100%;
            top: 18.8%;
            left: 0;
        }
        .title1 {
            width: 36%;
            top: 39.6%;
            left: -36%;
        }
        .title2 {
            width: 41.2%;
            top: 49.2%;
            right: -41.2%;
        }
        .title3 {
            width: 44%;
            top: 68.8%;
            left: -44%;
        }
        .title4 {
            width: 48%;
            top: 70%;
            right: -48%;
        }
        .cloud1 {
            width: 7.6%;
            top: 29%;
            left: 54.6%;
        }
        .cloud2 {
            width: 10%;
            top: 34%;
            left: 65.6%;
        }
        .btn-share {
            width: 39%;
            top: 80%;
            left: 30.5%;
        }
        .modal {
            display: none;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 135%;
            background: rgba(0, 0, 0, 0.9);
            .modal-content {
                width: 100%;
            }
            .btn-again {
                width: 36%;
                top: 58%;
                left: 32%;
            }
        }
    }
}
