@import "../base/page";

.page-guide4 {
    .base-page;

    background-color: #feccd3;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .guide4_page {
        .bg, .logo {
            width: 100%;
            top: 0;
            left: 0;
        }
        .scenery {
            width: 100%;
            top: 13.6%;
            left: 0;
        }
        .title {
            width: 100%;
            top: 19%;
            left: 0;
        }
        .title1 {
            width: 46.6%;
            top: 65%;
            left: -46.6%;
        }
        .title2 {
            width: 30.8%;
            top: 35.6%;
            right: -30.8%;
        }
        .title3 {
            width: 45.4%;
            top: 65.2%;
            right: -45.4%;
        }
        .title4 {
            width: 46%;
            top: 70.2%;
            right: -46%;
        }
        .cloud1 {
            width: 7.4%;
            top: 31.4%;
            left: 67%;
        }
        .cloud2 {
            width: 10%;
            top: 31.2%;
            left: 48.4%;
        }
        .btn-share {
            width: 39%;
            top: 80%;
            left: 30.5%;
        }
        .modal {
            display: none;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 135%;
            background: rgba(0, 0, 0, 0.9);
            .modal-content {
                width: 100%;
            }
            .btn-again {
                width: 36%;
                top: 58%;
                left: 32%;
            }
        }
    }
}
