@import "../base/page";

.page-guide5 {
    .base-page;

    background-color: #feccd3;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .guide5_page {
        .bg, .logo {
            width: 100%;
            top: 0;
            left: 0;
        }
        .scenery {
            width: 100%;
            top: 13.6%;
            left: 0;
        }
        .title {
            width: 100%;
            top: 19%;
            left: 0;
        }
        .title1 {
            width: 36%;
            top: 37.2%;
            left: -36%;
        }
        .title2 {
            width: 41.4%;
            top: 49%;
            right: -41.4%;
        }
        .title3 {
            width: 42.6%;
            top: 68.3%;
            left: -42.6%;
        }
        .title4 {
            width: 44%;
            top: 70%;
            right: -44%;
        }
        .cloud1 {
            width: 7%;
            top: 36%;
            left: 66.6%;
        }
        .cloud2 {
            width: 9%;
            top: 38.8%;
            left: 62%;
        }
        .btn-share {
            width: 39%;
            top: 80%;
            left: 30.5%;
        }
        .modal {
            display: none;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 135%;
            background: rgba(0, 0, 0, 0.9);
            .modal-content {
                width: 100%;
            }
            .btn-again {
                width: 36%;
                top: 58%;
                left: 32%;
            }
        }
    }
}
