@import "../base/page";

.page-home {
    .base-page;

    background-color: #feccd3;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .home_page {
        .bg, .logo, .sun {
            width: 100%;
            top: 0;
            left: 0;
        }
        .scenery {
            position: absolute;
            width: 100%;
            top: 23%;
            left: 0;
            .city {
                position: static;
                width: 100%;
            }
            .wheel {
                width: 42%;
                top: 23.6%;
                left: 32.4%;
            }
            .building {
                width: 100%;
                top: 0;
                left: 0;
            }
        }
        .cloud1 {
            width: 24%;
            top: 31.5%;
            left: -11.8%;
        }
        .cloud2 {
            width: 13.8%;
            top: 38.2%;
            left: 10.4%;
        }
        .cloud3 {
            width: 13%;
            top: 33.8%;
            left: 41.5%;
        }
        .cloud4 {
            width: 26%;
            top: 14.7%;
            left: 70.8%;
        }
        .title {
            width: 100%;
        }
        .title1 {
            top: 11%;
            left: -100%;
        }
        .title2 {
            top: 18.4%;
            left: 100%;
        }
        .petal {
            width: 100%;
            top: 46.1%;
            left: 0;
        }
        .btn-start {
            width: 37.8%;
            top: 84.4%;
            left: 31.1%;
        }
    }
}
