@import "../base/page";

.page-loading {
    .base-page;

    background-color: #feccd3;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        width: 100%;
    }
    .loading_page {
        .mountain {
            position: absolute;
            top: 0;
            left: 0;
        }
        .loading {
            position: absolute;
            top: 34%;
            left: 0;
            font-size: 0;
            .bar-white {
                position: relative;
                width: 80%;
                margin-top: 3.6%;
                left: 10%;
                height: 0.2rem;
                background: #fff;
                border-radius: 50px;
                box-shadow: 2px 2px 0 #c3a3a8;
            }
            .bar-red {
                position: absolute;
                width: 0%;
                height: 180%;
                top: -36%;
                left: 0;
                background: #cc5e6e;
                border-radius: 3px;
            }
            p {
                margin-top: 3.2%;
                font-size: 0.4rem;
                font-weight: 500;
                color: #cc5e6e;
                text-align: center;
            }
        }
    }
}
