@import "../base/page";
.page-page5 {
    .base-page;
    
    background-color: #ffddd2;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .page5_page {
        .bg, .logo, .question {
            width: 100%;
            top: 0;
            left: 0;
        }
        .tv {
            width: 100%;
            top: 46.2%;
            left: 0;
        }
        .dot {
            opacity: 0;
        }
        .dot1 {
            width: 2.4%;
            top: 7.3%;
            left: 66.6%;
        }
        .dot2 {
            width: 3.4%;
            top: 8.6%;
            left: 71.2%;
        }
        .dot3 {
            width: 4.4%;
            top: 11.6%;
            left: 76%;
        }
        .btn-yes {
            width: 30%;
            top: 31%;
            left: 17.4%;
        }
        .btn-no {
            width: 30%;
            top: 34.2%;
            left: 55%;
        }
    }
}