@import "../base/page";
.page-page10 {
    .base-page;
    
    background-color: #ffddd2;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .page10_page {
        .bg, .logo, .question {
            width: 100%;
            top: 0;
            left: 0;
        }
        .tv {
            width: 100%;
            top: 46.2%;
            left: 0;
        }
        .dot {
            opacity: 0;
        }
        .dot1 {
            width: 2.4%;
            top: 7%;
            left: 66.2%;
        }
        .dot2 {
            width: 3.4%;
            top: 8.4%;
            left: 70.6%;
        }
        .dot3 {
            width: 4.4%;
            top: 11.4%;
            left: 75.4%;
        }
        .btn-city {
            width: 29%;
            top: 31.6%;
            left: 7.9%;
        }
        .btn-island {
            width: 28.2%;
            top: 36.7%;
            left: 38.1%;
        }
        .btn-mix {
            width: 28.8%;
            top: 29.2%;
            left: 66.7%;
        }
    }
}