@import "../base/page";
.page-result5 {
    .base-page;
    
    background-color: #c9ddf6;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .result5_page {
        .bg, .logo, .save {
            width: 100%;
            top: 0;
            left: 0;
        }
        .title1 {
            width: 42.6%;
            top: 37.4%;
            left: -42.6%;
        }
        .title2 {
            width: 36%;
            top: 37%;
            right: -36%;
        }
        .title3 {
            width: 42.6%;
            top: 61.4%;
            left: -42.6%;
        }
        .title4 {
            width: 44%;
            top: 61%;
            right: -44%;
        }
        .icon1 {
            width: 11%;
            top: 51.6%;
            left: 6%;
            transform: rotate(-10deg);
        }
        .icon2 {
            width: 12%;
            top: 56.2%;
            right: 3.2%;
            transform: rotate(10deg);
            transform-origin: center bottom;
        }
        .icon3 {
            width: 21%;
            top: 71.6%;
            left: 6.2%;
            transform: rotate(-10deg);
        }
        .icon4 {
            width: 28.4%;
            top: 71.6%;
            right: 4%;
        }
        .rotate10 {
            transform: rotate(10deg);
            transform-origin: center center;
        }
        .rotate15 {
            transform: rotate(15deg);
            transform-origin: center center;
        }
        .rotate-15 {
            transform: rotate(-15deg);
            transform-origin: center center;
        }
        .rotate25 {
            transform: rotate(25deg);
            transform-origin: center center;
        }
        .save {
            opacity: 0;
        }
        .btn-guide {
            width: 34%;
            top: 81.2%;
            left: 33%;
        }
    }
}