@import "../base/page";
.page-result4 {
    .base-page;
    
    background-color: #ecffff;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .result4_page {
        .bg, .logo, .save {
            width: 100%;
            top: 0;
            left: 0;
        }
        .title1 {
            width: 41.4%;
            top: 37.3%;
            left: -41.4%;
        }
        .title2 {
            width: 35%;
            top: 34%;
            right: -35%;
        }
        .title3 {
            width: 26.8%;
            top: 40%;
            right: -26.8%;
        }
        .title4 {
            width: 40%;
            top: 66%;
            left: -40%;
        }
        .title5 {
            width: 33.2%;
            top: 72.6%;
            left: -33.2%;
        }
        .title6 {
            width: 40%;
            top: 63%;
            right: -40%;
        }
        .icon1 {
            width: 17.2%;
            top: 45%;
            left: 2.2%;
            transform: rotate(-10deg);
        }
        .icon2 {
            width: 11.4%;
            top: 54.4%;
            right: 5.6%;
        }
        .icon3 {
            width: 10.2%;
            top: 69.5%;
            right: 15.2%;
            transform: rotate(10deg);
        }
        .rotate15 {
            transform: rotate(15deg);
            transform-origin: center center;
        }
        .rotate-15 {
            transform: rotate(-15deg);
            transform-origin: center center;
        }
        .rotate-25 {
            transform: rotate(-25deg);
            transform-origin: center center;
        }
        .save {
            opacity: 0;
        }
        .btn-guide {
            width: 34%;
            top: 81.2%;
            left: 33%;
        }
    }
}