@import "../base/page";
.page-result1 {
    .base-page;
    
    background-color: #495c7e;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .result1_page {
        .bg, .logo, .save {
            width: 100%;
            top: 0;
            left: 0;
        }
        .title1 {
            width: 37%;
            top: 37%;
            left: -37%;
        }
        .title2 {
            width: 36%;
            top: 37%;
            right: -36%;
        }
        .title3 {
            width: 35.2%;
            top: 62.6%;
            left: -35.2%;
        }
        .title4 {
            width: 43%;
            top: 63%;
            right: -43%;
        }
        .icon1 {
            width: 15%;
            top: 55.2%;
            left: 5.7%;
            transform: rotate(-10deg);
        }
        .icon2 {
            width: 6%;
            top: 47.1%;
            right: 6.8%;
            transform: rotate(10deg);
        }
        .icon3 {
            width: 17%;
            top: 74.3%;
            left: 6.2%;
        }
        .icon4 {
            width: 10%;
            top: 72.6%;
            right: 19%;
        }
        .rotate10 {
            transform: rotate(10deg);
            transform-origin: center center;
        }
        .rotate15 {
            transform: rotate(15deg);
            transform-origin: center center;
        }
        .rotate-15 {
            transform: rotate(-15deg);
            transform-origin: center center;
        }
        .rotate-45 {
            transform: rotate(-45deg);
            transform-origin: center center;
        }
        .save {
            opacity: 0;
        }
        .btn-guide {
            width: 34%;
            top: 81.2%;
            left: 33%;
        }
    }
}