@import "../base/page";
.page-result2 {
    .base-page;
    
    background-color: #597499;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .result2_page {
        .bg, .logo, .save {
            width: 100%;
            top: 0;
            left: 0;
        }
        .title1 {
            width: 41.6%;
            top: 37.4%;
            left: -41.6%;
        }
        .title2 {
            width: 36%;
            top: 38%;
            right: -36%;
        }
        .title3 {
            width: 35.6%;
            top: 61.4%;
            left: -35.6%;
        }
        .title4 {
            width: 44%;
            top: 62%;
            right: -44%;
        }
        .icon1 {
            width: 12%;
            top: 51.6%;
            left: 8.6%;
        }
        .icon2 {
            width: 5.6%;
            top: 50.6%;
            right: 6.8%;
            transform: rotate(5deg);
        }
        .icon3 {
            width: 30%;
            top: 71.2%;
            left: 0;
            transform: rotate(-5deg);
        }
        .icon4 {
            width: 11.2%;
            top: 71.6%;
            right: 22%;
        }
        .rotate15 {
            transform: rotate(15deg);
            transform-origin: center center;
        }
        .rotate35 {
            transform: rotate(35deg);
            transform-origin: center center;
        }
        .rotate-15 {
            transform: rotate(-15deg);
            transform-origin: center center;
        }
        .rotate-45 {
            transform: rotate(-45deg);
            transform-origin: center center;
        }
        .save {
            opacity: 0;
        }
        .btn-guide {
            width: 34%;
            top: 81.2%;
            left: 33%;
        }
    }
}